<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderNumber.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OrderNumber.MySettings.ClientsConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Clients.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <OrderNumber.MySettings>
            <setting name="Signature" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="BodyPrice" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="BodyRef" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="BodyText" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="strTitleForm1" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="BodyCreditControl" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="Account1SPW" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="Account2SPW" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="Account3SPW" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="Account4SPW" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="Account5SPW" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="Account1SPO" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="Account2SPO" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="Account3SPO" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="Account4SPO" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="Account5SPO" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="TBadress1" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="TBadress2" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="TBadress3" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="TBadress4" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="TBadress5" serializeAs="String">
                <value>tempvalue</value>
            </setting>
            <setting name="CBautoSearch" serializeAs="String">
                <value>False</value>
            </setting>
        </OrderNumber.MySettings>
    </userSettings>
</configuration>
